body{
    background-color: black;
}
.title{
    color: white;
    font-weight: bold;
}

section{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    
}
.box{

    background-color: black;
    color:white;
    
    padding: 30px;
    border-radius: 10px;

    filter: drop-shadow(7px 7px 7px white);
}


.clip-board{
    cursor: pointer;
    transition-duration: 0.5s;
}